.container {
    padding-top: 20px;
}

.task-content {
    font-size: 1.3rem;
    font-family: 'Arial';
}

.mark-complete {
    width:20px;
    height: 20px;
}

.btn-sm {
    font-size:0.875rem;
    padding: 0.4em;
}

.form-check-input {
    width: 1em;
    height: 1em;
}

.row {
    min-height: 40 px;
}

.todo-item {
}

div {
    padding: 2px;
}

h2 {
    font-size: 5em;
}